* {
    outline: 1px solid salmon;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#frame{
    
    height: 300px;
    width: 200px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5px;
    background-color: rgb(9, 127, 88);
}

#display{
  display: flex;
  flex-wrap: wrap;
    width: 100%;
    height: 25%;
    padding: 5px;
    background-color: white;
}

#keypad{
    display: flex;
    flex-wrap: wrap;
    /* align-content: flex-end; */
    flex: 1;
    padding: 5px;
    width: 100%;
}
#numberpad{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
.numberbtn{
    flex: 1;
    background-color: skyblue;
    
}
#operators{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}
.operatorbtn{
    flex: 1;
}